.background {
  fill: #6cb0e0;
  pointer-events: all;
}
.countries {
  fill: #b0d0ab;
  stroke: #6cb0e0;
  stroke-width: 0.5px;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.airports {
  fill: #036;
  stroke: #6cb0e0;
  stroke-width: 0.5px;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.plane {
  fill: #fff;
  stroke-width: 0;
}
.route {
  fill: none;
}
